backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
chardet==2.3.0
decorator==4.1.2
enum34==1.1.6
html5lib==0.999
ipython==5.4.1
ipython-genutils==0.2.0
Keras==2.0.8
lxml==3.5.0
mpmath==0.19
nltk==3.2.4
numpy==1.13.1
pandas==0.20.3
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
powerline-status==2.6.dev9999+git.5a24eceae9b61b89b34794fea18b8c51da823a6c
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycurl==7.43.0
Pygments==2.2.0
python-apt==1.1.0b1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
scandir==1.5
scikit-learn==0.18.2
scipy==0.19.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
sympy==1.1.1
termcolor==1.1.0
traitlets==4.3.2
virtualenv==15.1.0
wcwidth==0.1.7
